:root {
  @apply light;
}

/* https://color.adobe.com/create/color-wheel */
/* https://paletton.com/#uid=31u0u0kfPw069RMb4Hik7ryo-nA */

.dark {
  --color-bg-primary: #615e4e;
  --color-bg-secondary: #ada158;
  --color-bg-accent: #8d844a;
  --color-text-primary: #ffec81;
  --color-text-secondary: #e6dfba;
  --color-text-opposite: #494840;
  --color-text-accent: #e0d072;
  --color-text-negative: #fff;
  --text-shadow-light: 1px 1px 4px #fff;
  --text-shadow-dark: 1px 1px 4px #000;
}

.light {
  --color-bg-primary: #ffec81;
  --color-bg-secondary: #e6dfba;
  --color-bg-accent: #faf0bc;
  --color-bg-third: #81ecec;
  --color-text-primary: #615e4e;
  --color-text-secondary: #ada158;
  --color-text-opposite: #ada158;
  --color-text-accent: #e0d072;
  --color-text-negative: #fff;
  --text-shadow-light: 1px 1px 4px #fff;
  --text-shadow-dark: 1px 1px 4px #000;
}

body {
  background-color: var(--color-bg-primary);
}

/* Dark mode toggle */
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68d391;
}
.toggle-under {
  height: 35px;
  width: 70px;
}
.toggle-circle {
  height: 35px;
  width: 35px;
}
